*{
     margin: 0px;
     padding: 0px;
     font-family: 'poppins',sans-serif;
     box-sizing: border-box;
}
body{
     background-color: #484275;
}

.card{
     width: 90%;
     max-width: 470px;
     background: linear-gradient(135deg, #00feba, #484275);
     color: #fff;
     /* margin: 100px auto 0;  */
     margin: 30px 0px 0px 400px;
     border-radius: 20px;
     padding: 40px 35px;
     text-align: center;
}

.search{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.search input{
     border: 0;
     outline: 0;
     background: #ebfffc;
     height: 50px;
     padding: 10px 25px;
     border-radius: 30px;
     flex: 1;
     margin-right: 16px;
     font-size: 18px;
}
.search button{
     border: 0;
     outline: 0;
     border-radius: 60%;
     /* background: #ebfffc; */
     width: 50px;
     height: 50px;
     cursor: pointer;
}

.search button img{
     width: 15px;
}
.weather-icon{
     width: 170px;
     margin-top: 30px;
}

.weather h1{
     font-size: 50px;
     font-weight: 500;
}

.weather h2{
     font-size: 40px;
     font-weight: 600;
     margin-top: -10px;
}

.details{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 20px;
     margin-top: 50px;

}

.col{
     display: flex;
     align-items: center;
     text-align: left;
}
.col img{
     width: 40px;
     margin-right: 10px;

}
.humidity, .wind{
     font-size: 20px;
     margin-top: -6px;
}
.weather{
     display:  none;
}
.error{
     text-align: left;
     margin-left: 10px;
     font-size: 14px;
     margin-top: 10px;
     display: none;
}